/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #008692;
}

header h1 {
    margin-top: 0;
    padding: 15px 0;
    text-align: center;
    color: #fff;
}

/* Start adding your CSS from here */
